<!DOCTYPE html>
<html>
<head>
	{{ page_style|raw }}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS links-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
    {% block body %}
    {% endblock %}

    {{ page_scripts|raw }}

    <!-- Javascript links -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
